# Data Visualisation & Statistiques descriptives : Formaliser des KPI
1. Expliquer ce qu’est un KPI? (1pt)
2. Importer les librairies pandas et numpy (0.5pt)
3. Importer et le dataset ‘eval.csv’ (0.5pt)
4. Afficher les 10 premières lignes du dataset (0.5pt)
5. Afficher la dimension du dataset ? (0.5pt)
6. Afficher, et décrire les colonnes de notre dataset (0.5pt)
7. Afficher les statistiques descriptives du dataset (0.5pt)
8. Quel est l’item le plus commandé ? (1pt)
9. Combien d’items ont été commandés au total ? (1pt)
10. Combien de chiffre d’affaire à realisé la société ? (2pt)
11. Quel est le revenu moyen par commande ? (2pt)

1)

KPI (Key Performance Indicator, indicateurs clés de performance en français).

Un KPI permet de mesurer l'efficacité d'une campagne marketing.

Un KPI est une valeur chiffré déterminé avant le lancement d'une action afin d'évaluer un retour sur investissement.

Exemple pour un site de vente, le nombre de commande passée par rapport au nombre de visite du site.

In [1]:
# 2)
import pandas as pd
import numpy as np

In [2]:
# 3)
eval_dataset = pd.read_csv('eval_data.csv')

In [3]:
# 4)
eval_dataset.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [22]:
# 5)
eval_dataset.ndim

2

In [6]:
# 6)
list(eval_dataset.columns)

['Unnamed: 0',
 'order_id',
 'quantity',
 'item_name',
 'choice_description',
 'item_price']

Le dataset contient 6 colonnes différentes :
- Unnamed, l'id de l'article
- order_id, l'identifiant de la commande
- quantity, la quantité de l'article acheté
- item_name, le nom de l'article
- choice_description, les ingrédients utilisés dans l'article
- item_price, le prix de l'article

In [8]:
# 7)
eval_dataset.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

In [33]:
# 8)
#index_max = eval_dataset['quantity'].idxmax()
#eval_dataset.loc[index_max, : ]

Unnamed: 0                                    3598
order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                 $44.25
Name: 3598, dtype: object

In [23]:
# 9)
eval_dataset['quantity'].sum()

4972

In [52]:
# 10)
(eval_dataset['quantity'] * pd.to_numeric(eval_dataset['item_price'].str[1:])).sum()

38998.020000000004

In [54]:
# 11)